*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a28842;
}
.container{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 45vh;
    width: 40vh;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
form select, button input{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    width: 100%;
    border: none;
    outline: none;
    
 }
form input{
    border: 1px solid #ccc;
    font-size: 1rem;
    height: 3rem;
    border-radius: 1rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

form button{
    padding: 10px;
    background-color: #9a2740;
    color: #fff;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}
form button:hover{
    background-color: #7a1f30;
}
form button:active{
    background-color: #5a141f;
}

